.highlightClasshighlightClass {
    border-radius: 0px !important;
}

.introjs-tooltip {
    margin-top: 10px;
}

.introjs-overlay {
    background: #000 !important;
}

.introjs-tooltip {
    font-size: 18px;
    min-width: 350px;
}

.introjs-tooltipbuttons a {
    font-size: 16px !important;
}